body {
  background-color: #ccc;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  height: 2px;
  background-color: #e90874;
  position: relative;
  left: 50%;
  width: 0px;
  transition: all 0.35s ease-in-out 0.17s;
}

.divider.show__divider {
  width: 100%;
  left: 0;
}

.list__container {
  max-height: 433px;
  overflow-y: scroll;
  padding: 0 50px;
}

.list__container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.list__container::-webkit-scrollbar-thumb {
  background: #e9087450;
  border-radius: 10px;
}
